{% extends 'base.html.twig' %}

{% block title %}Plateforme vente 974
{% endblock %}

{% block body %}
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand text-light fw-bolder" href="#">Plateforme de vente automobile</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							{% if is_granted('ROLE_ADMIN') %}
								<a class="nav-link active text-light fw-normal" aria-current="page" href="/add">Ajouter une concession</a>
							{% endif %}
						</li>
					</ul>
				</div>
				{% if is_granted('ROLE_ADMIN') %}
					<span class="text-light">Nom utilisateur :
						{{user}}
						<a class="nav-link active text-light fw-normal" aria-current="page" href="/logout">Se déconnecter</a>
					{% else %}
						<a class="nav-link active text-light fw-normal" aria-current="page" href="/login">Se connecter</a>
					</span>
				{% endif %}
			</div>
		</nav>
	</header>
	<main class="content-flex">
		<section class="container p-5">
			<div class="row">
				{% for concessionaire in listeConcession %}
					<div class="col-md col-sm mt-5">
						<div class="card" style="width: 18rem;">
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('concession/delete',{'id':concessionaire.id}) }}" class="link-dark">
									<i class="fas fa-times close"></i>
								</a>
							{% endif %}
							<div class="card-body">
								<h5 class="card-title">{{concessionaire.nom}}</h5>
								<div class="btn-group" role="group" aria-label="Basic example">
									<a href="{{path('marque/showAll')}}" class="btn btn-primary">Voir les véhicules</a>
									{% if is_granted('ROLE_ADMIN') %}
										<a href="{{ path('concession/update',{'id':concessionaire.id}) }}" class="btn btn-danger">Modifier la concession</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	</main>
	<style>
		body {
			background: url('https://images.unsplash.com/photo-1635072181179-ef31855047af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80') no-repeat;
			background-size: cover;
		}
		.content-flex {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.card {
			text-align: center;
			position: relative;
		}
		.close {
			position: absolute;
			font-size: 1.75em;
			text-align: right;
			padding: 10px 10px 0 0;
			right: 0;
		}
	</style>
{% endblock %}
