{% extends 'base.html.twig' %}

{% block title %}Plateforme vente 974
{% endblock %}

{% block body %}
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand text-light fw-bolder" href="#">Plateforme de vente automobile</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active text-light fw-normal" aria-current="page" href="{{path('modele/add')}}">Ajouter un modele</a>
						</li>
					</ul>
				</div>
				<span class="text-light">Nom utilisateur :
				</span>
			</div>
		</nav>
	</header>
	<main class="content-flex">
		<section class="container p-5">
			<div class="row">
				<table id="dataTableModele" class="table table-striped">
					<thead>
                        <th>Modeles</th>
                        <th>Clients</th>
						<th>Options</th>
						<th>Supprimer</th>
					</thead>

					<tbody>
						{% for modele in listeModele %}
                        <tr>
                            <td>
                                {{modele.nom}}
								
                            </td>
                            <td>
                                {{modele.clients}}
                            </td>
							 <td>
                                <a href="{{ path('modele/update',{'id':modele.id}) }}" class="btn btn-warning">Modifier le modele</a>
                            </td>
							<td>
							<a href="{{ path('modele/delete',{'id':modele.id}) }}" class="btn btn-danger">Supprimer le modèle</a>
							</td>

                        </tr>
					
                        {% endfor %}
							
					</tbody>
					
				</table>
			</div>
		</section>
	</main>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
	<script>
		$(document).ready(function () {
$('#dataTableModele').DataTable();
});
	</script>
{% endblock %}
