{% extends 'base.html.twig' %}

{% block title %}Plateforme vente 974
{% endblock %}

{% block body %}
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand text-light fw-bolder" href="/">Plateforme de vente automobile</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a class="nav-link active text-light fw-normal" aria-current="page" href="{{path('modele/add')}}">Ajouter un modele</a>
							</li>
						{% endif %}
					</ul>
				</div>
				{% if is_granted('ROLE_ADMIN') %}
					<span class="text-light">Nom utilisateur :
						{{user}}
						<a class="nav-link active text-light fw-normal" aria-current="page" href="/logout">Se déconnecter</a>
					{% else %}
						<a class="nav-link active text-light fw-normal" aria-current="page" href="/login">Se connecter</a>
					</span>
				{% endif %}
			</span>
		</div>
	</nav>
</header>
<main class="content-flex">
	<section class="container p-5">
		<div class="row">
			<div class="col-12 mb-5">
				<h1 class="h3">Liste des modeles</h1>
			</div>
			<div class="col-12">
				<table id="dataTableModele" class="table table-striped">
					<thead>
						<th>Modeles</th>
						<th>Marque</th>
						{% if is_granted('ROLE_ADMIN') %}
							<th>Options</th>
						{% endif %}
					</thead>
					<tbody>
						{% for modele in listeModele %}
							<tr>
								<td>
									<a href="#" id="myBtn">{{modele.nom}}</a>
								</td>
								<td>
									{{modele.marque}}
								</td>
								{% if is_granted('ROLE_ADMIN') %}
									<td>
										<a href="{{ path('modele/update',{'id':modele.id}) }}" class="btn btn-warning">Modifier le modele</a>
										<a href="{{ path('modele/delete',{'id':modele.id}) }}" class="btn btn-dark">Supprimer le modèle</a>
									</td>
								</tr>
							{% endif %}

						{% endfor %}

					</tbody>
				</table>
			</div>
			<div role="group" aria-label="Basic example">
				<button id="myBtn" class="btn btn-primary">Détail des modeles</button>
				<a href="{{ path('client/showAll')}}" class="btn btn-danger">Voir tous les clients</a>
			</div>
			<div
				id="myModal" class="modal">
				<!-- Modal content -->
				<div class="modal-content">
					<span class="close">&times;</span>
					<p>Nom...</p>
				</div>
			</div>
		</div>
	</div>
</div></section></main><script>// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function () {
modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function () {
modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
if (event.target == modal) {
modal.style.display = "none";
}
}</script><style>body {
	font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}</style>{% endblock %}{% block javascripts %}{{ encore_entry_script_tags('app') }}<script>$(document).ready(function () {
$('#dataTableModele').DataTable();
});</script>{% endblock %}
