{% extends 'base.html.twig' %}

{% block title %}Liste client
{% endblock %}

{% block body %}
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand text-light fw-bolder" href="/">{{title}}</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="btn text-light" aria-current="page" href="/">Retour à l'accueil</a>
						</li>
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a class="btn text-light" aria-current="page" href="{{path('client/add')}}">Ajout d'un client</a>
							</li>
						{% endif %}

					</ul>
				</div>
				{% if is_granted('ROLE_ADMIN') %}
					<span class="text-light">Nom utilisateur :
						{{user}}
						<a class="nav-link active text-light fw-normal" aria-current="page" href="/logout">Se déconnecter</a>
					{% else %}
						<a class="nav-link active text-light fw-normal" aria-current="page" href="/login">Se connecter</a>
					</span>
				{% endif %}

			</div>
		</nav>
	</header>
	<div class="container p-5">
		<div class="">
			<table id="table_id">
				<thead>
					<h1>
						<tr>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Modèle</th>
							{% if is_granted('ROLE_ADMIN') %}
								<th>Options</th>
							{% endif %}

						</tr>
					</thead>
				</thead>
				<tbody>
					{% for client in listeAll %}
						{# <tr onclick="getClientId({{client.id}})"> #}
						<tr>
							<td>
								{{client.nom}}
							</td>
							<td>
								{{client.prenom}}
							</td>
							<td>
								{{client.modele}}
							</td>

							{% if is_granted('ROLE_ADMIN') %}
								<td scope="col">
									<a href="{{ path('client/showSelected',{'id':client.id})}}" class="btn btn-primary">Consulter</a>
									<a href="{{ path('client/update',{'id':client.id}) }}" class="btn btn-danger">Modifier le client</a>
									<a href="{{ path('client/delete',{'id':client.id}) }}" class="btn btn-dark">Supprimer le client</a>
								</td>
							{% endif %}

						</tr>
					{% endfor %}
					{# {{jsonFile}} #}
				</tbody>
			</table>


		</main>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
		<script>

			let table = new DataTable('#table_id', { // options
});
		</script>

		<script>// Récupérer l'id du client selectionné
// function getClientId(clientIdGiven) {
// var clientId = clientIdGiven;

// //Création de l'objet XMLHttpRequest
// var req = new XMLHttpRequest();

// On initialise notre requête avec open()
// req.open("GET", "http://localhost:8000/client/jsonFile");

// Format de la réponse
// req.responseType = "json";

// Envoie de la requête
// req.send();

// console.log(req.response);
}
	</script>
{% endblock %}
